# ===== KiCad =====
*.kicad_sch.backup
*.kicad_sch.backup_*
*.kicad_pcb.backup
*.kicad_pcb.backup_*
*-backups/
.backup/
_autosave-*
*.lck
~*.lck
*.kicad_prl

# ===== Build outputs =====
hardware/gerbers/
hardware/production/

# ===== Scripts temporarios =====
create-schematic.ps1
schematic-builder.ps1
schematic-data.ps1
setup-repo.ps1

# ===== VS Code Local History =====
.history/
hardware/.history/
**/.history/

# ===== Arduino =====
src/**/*.ino.txt
.pio/

# ===== OS =====
Thumbs.db
.DS_Store
desktop.ini
